<template>
  <div class="mb-8">
    <div v-if="status === true" class="px-4 py-2 bg-green-400 text-white rounded">
      Materi berhasil ditambahkan
    </div>
    <div v-else-if="status === false" class="px-4 py-2 bg-red-400 text-white rounded">
      Materi gagal ditambahkan
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(['status'])
  }
}
</script>

<style>

</style>