<template>
  <div class="flex items-center">
    <span class="text-sm text-gray-500 mr-4">Kategori</span>
    <div 
      class="category"
      :class="{'active': value===item.id?true:false}"
      v-for="item in dataKategori" :key="item.nama_kategori" 
      @click="value=item.id">
      {{ item.nama_kategori }}
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  model: {
    prop: 'value',
    event: 'input'
  },
  data: () => ({
    value: '',
    text: '',
  }),
  computed: {
    ...mapState(['dataKategori'])
  },
  created() {
    this.$store.dispatch('getDataKategori')
  },
  watch: {
    value(val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style scoped>
.category{
  @apply bg-gray-300 rounded-full py-1 px-2 text-sm mr-2 cursor-pointer transition;
}
.category:hover{
  @apply bg-gray-400;
}
.category.active{
  @apply bg-green-400 text-white;
}
</style>