<template>
  <header>
    <div class="flex items-center py-4">
      <img src="https://firebasestorage.googleapis.com/v0/b/dib-school.appspot.com/o/color.svg?alt=media&token=90b44b5e-92e5-4b4c-a281-7cb8cec96610" alt="logo" width="50px">
      <div class="ml-6 font-bold">DIB School</div>

      <div class="text-gray-700 ml-auto mr-6 tracking-wider text-sm">Pembuatan Materi</div>
      <slot></slot>
    </div>
  </header>
</template>

<script>
export default {

}
</script>

<style>

</style>