<template>
  <div class="flex items-start mb-8">
    <div v-show="btnPlus" class="btn-icon" :class="{'active': active}" @click="active=!active">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" height="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" fill="black"/>
        <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
      </svg>
    </div>
    <!-- jenis button section-->
    <div v-if="active" class="flex">
      <div class="btn-icon ml-4" @click="$emit('addData', {
        index: data.index+1,
        data: {
          type: 'paragraph',
          value: ''
        }
      });active=false;btnPlus=false">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" height="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path d="M16 12a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2m-6 0a2 2 0 0 1 2-2a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2z" fill="black"/>
          <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
        </svg>
      </div>
      <div class="btn-icon ml-4" @click="$emit('addData', {
          index: data.index+1,
          data: {
            type: 'picture',
            value: ''
          }
        });active=false;btnPlus=false">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="25px" height="25px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path d="M4 4h3l2-2h6l2 2h3a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2m8 3a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m0 2a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3z" fill="#000"/>
          <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
        </svg>
      </div>
    </div>
    <!-- type input -->
    <div v-else class="w-full">
      <textarea v-if="data.type === 'paragraph'" v-model="value" @input="$emit('input', value);" @mousedown="btnPlus=true" rows="10" class="input-field" placeholder="Teks Paragraf" spellcheck="false"></textarea>
      <div v-else-if="data.type === 'picture'" :key="status">
        <div v-if="status === null" >
          <div v-if="progress === 0">
            <label for="picture" class="picture ml-4">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="80px" height="80px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                <path d="M4 4h3l2-2h6l2 2h3a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2m8 3a5 5 0 0 0-5 5a5 5 0 0 0 5 5a5 5 0 0 0 5-5a5 5 0 0 0-5-5m0 2a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3z" fill="#c4c4c4"/>
                <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
              </svg>
            </label>
            <!-- input file -->
            <input type="file" @change="upload" accept="image/*" class="hidden" id="picture">
          </div>
          <div v-else class="w-1/2 h-2 rounded-full bg-blue-300 overflow-hidden">
            <div :style="{'width': progress+'%'}" class="h-2 rounded-full bg-blue-500"></div>
          </div>
        </div>
        <img v-else-if="status === true" :src="data.value" class="w-1/2 ml-4" @click="btnPlus=true" alt="gambar materi">
        <div v-else-if="status === false" :src="data.value" class="text-red-500 ml-4">
          Gambar gagal di upload
          <label for="picture">
            <ul class="cursor-pointer underline">coba lagi</ul>
          </label>
          <!-- input file -->
            <input type="file" @change="upload" accept="image/*" class="hidden" id="picture">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from '../config/firebase'

export default {
  props: ['data'],
  model: {
    props: 'value',
    event: 'input'
  },
  data: () => ({
    active: false,
    btnPlus: false,
    value: '',
    status: null,
    progress: 0
  }),
  methods: {
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        if (this.active) {
          this.active = false
        }
        this.btnPlus = false;
      }
    },
    upload (e) {
      const file = e.target.files[0]
      const reader = new FileReader()
      const vm = this
      try {
        if (file) {
          reader.readAsDataURL(file)
          reader.onload = function (e) {
            const gambar = e.target.result
            if (gambar) {
              const storage = firebase.storage()
              const storageRef = storage.ref()
              const uploadTask = storageRef.child('materi/' + file.name).putString(gambar, 'data_url');

              // Listen for state changes, errors, and completion of the upload.
              uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
                function(snapshot) {
                  // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
                  let progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                  vm.progress = progress
                }, function(error) {

                // A full list of error codes is available at
                // https://firebase.google.com/docs/storage/web/handle-errors
                switch (error.code) {
                  case 'storage/unauthorized':
                    vm.status = false
                    // User doesn't have permission to access the object
                    break;
                  case 'storage/unknown':
                    vm.status = false
                    // Unknown error occurred, inspect error.serverResponse
                    break;
                }
              }, function() {
                // Upload completed successfully, now we can get the download URL
                uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                  vm.value = downloadURL
                  vm.$emit('input', vm.value)
                  vm.status = true
                });
              });
            }
          }
        }
      } catch (err) {
        this.status = false
      }
    },
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  }
}
</script>

<style scoped>
.picture{
  width: 200px;
  height: 200px;
  @apply bg-gray-200;
  @apply rounded;
  @apply flex;
  @apply items-center;
  @apply justify-center;
}
</style>