@tailwind base;
@tailwind components;

.btn-publish{
  @apply bg-green-400;
  @apply text-white;
  @apply text-xs;
  @apply rounded;
  @apply px-4;
  @apply py-2;
}
.btn-icon{
  width: 40px;
  height: 40px;
  @apply border;
  @apply border-black;
  @apply rounded-full;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply cursor-pointer;
  @apply flex-shrink-0;
  @apply transition;
}
.btn-icon.active{
  transform: rotate(45deg);
}
.input-field{
  @apply px-4;
  @apply w-full;
}
.input-field:focus, .btn-icon:focus, .btn-publish:focus{
  @apply outline-none;
}
.title{
  @apply text-3xl;
  @apply font-bold;
}

@tailwind utilities;