<template>
  <div id="app">
    <div class="w-3/4 mx-auto block px-4">
      <form @submit.prevent="submit">
        <Header>
          <button class="btn-publish" type="submit">
            <span v-if="loading">Loading...</span>
            <span v-else>PUBLISH</span>
          </button>
        </Header>

        <div class="my-8 w-3/4 mx-auto block">
          <Alert />
          <Category v-model="id_kategori" class="mb-8 ml-4"/>
          <!-- title -->
          <input v-model="judul" type="text" class="input-field title mb-8" placeholder="Judul Materi" spellcheck="false">
          <!-- penulis -->
          <input v-model="penulis" type="text" placeholder="Nama Penulis" class="outline-none px-4 py-2 mb-4" spellcheck="false">
          <!-- type input field -->
          <Input 
            v-for="(item, i) in data" :key="i" 
            :data="{
              index: i,
              ...item
            }" 
            v-model="item.value"
            @addData="addData"
          />
        </div>
      </form>
    </div>
  </div>
</template>

<style src="./assets/style.css"></style>

<script>
import firebase from './config/firebase'
import Header from './components/Header'
import Input from './components/Input'
import Category from './components/Category'
import Alert from './components/Alert'
import { mapState } from "vuex";

export default {
  data: () => ({
    id_kategori: '',
    judul: '',
    penulis: '',
    data: [
      { type: 'picture', value: '' }
    ]
  }),
  computed: { ...mapState(['loading']) },
  components: {
    Alert,
    Category,
    Input,
    Header
  },
  methods: {
    addData(val) {
      this.data.splice(val.index, 0, val.data)
    },
    submit () {
      const data = {
        id_kategori: this.id_kategori,
        gambar: this.data[0].value,
        judul: this.judul,
        penulis: this.penulis,
        jumlah_dibaca: 0,
        keyword: this.judul.toLowerCase().split(' '),
        rating: {
          jumlah: 0,
          poin: 0
        },
        tanggal: firebase.firestore.Timestamp.now(),
        materi: this.data
      }
      this.$store.dispatch('postDataMateri', data)
    }
  }
}
</script>
